{% extends "base.html" %}

{% block content %}
    <h1 class="page-header">My patients</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
        </thead>
        <tbody>
            {% for rel in object_list %}
                <tr>
                    <td class="email">
                        <a href="{% url 'patients:details' pk=rel.patient.id %}">
                            {{ rel.patient.email }}
                        </a>
                    </td>
                    <td class="fname">{{ rel.patient.first_name }}</td>
                    <td class="lname">{{ rel.patient.last_name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}